.canvas {
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

body {
    margin: 0;
}

.btn{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    --color: #ff0000;
    --color2: #0000ff;
    --borderW: 2px;
    --angle: 25deg;
    --gradientL: 30%;
}
.btn::after, .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}
.btn::after {
    background-image: linear-gradient(var(--angle), var(--color2) 0, var(--color2) var(--borderW), transparent var(--gradientL), transparent calc(100% - var(--gradientL)), var(--color) calc(100% - var(--borderW)), var(--color) 100%);
    -webkit-mask-image: linear-gradient(#000 0, transparent var(--borderW), transparent calc(100% - var(--borderW)), #000 100%), 
    linear-gradient(90deg, #000 0, transparent var(--borderW), transparent calc(100% - var(--borderW)), #000 100%);
}


/* .btn::before {
    transform: scale(1.2);

    background-image: radial-gradient(circle at 15% 85%, red 0, transparent 50%), radial-gradient(circle at 100% 0, blue 0, transparent 40%);
    -webkit-mask-image: linear-gradient(transparent 0, #000 calc(10% - 1px), transparent calc(10% - 1px), transparent calc(90% + 1px),  #000 calc(90% + 1px), transparent 100%), linear-gradient(90deg, transparent 0, #000 calc(10% - 1px),transparent calc(10% - 1px), transparent calc(90% + 1px),  #000 calc(90% + 1px), transparent 100%);
} */
.corn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.corn::before, .corn::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: #fff;
    /* border: 1px solid #000; */
}
.corn::before {
    top: calc(100% - 1px);
    left: calc(-20% + 1px);
    background-image: radial-gradient(circle at calc(100% + 1px) -1px, var(--color), transparent 40%);
}
.corn::after {
    top: calc(-20% + 1px);
    right: calc(-20% + 1px);
    background-image: radial-gradient(circle at -1px calc(100% + 1px), var(--color2), transparent 40%);
}


.btn2 {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}